.scroll-container {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100px;
  height: 300px;
  background: #ababab;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba(55, 63, 141, 0.37);
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
  transform: translateX(92vw) translateY(62vh);
  z-index: 100;

  div {
    cursor: pointer;
    border: 2px solid #dcdcdc;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background: #ffffff;

    p {
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-top: 10px;
      align-self: center;
      font-size: 50px;
      font-weight: bold;
    }
  }
}
